<div class="header"><h1>School Store</h1></div>

<ul class="card">
  <li>
    <input type="checkbox" name=""/>
    <a href="show.html">Chips</a>
    <span class="pomodoro-estimate">$0.50-1.00</span>
  </li>
  <li>
    <input type="checkbox" name=""/>
    Gatorade
    <span class="pomodoro-estimate">$1.00</span>
  </li>
  <li>
    <input type="checkbox" name=""/>
    Candy
    <span class="pomodoro-estimate">$1.00</span>
  </li>
  </ul>

<div id="new-todo-block">
  <input class="text-input" id="new-todo-description" type="text" placeholder="Add a food item">
  <input class="text-input" id="new-pomodoro-estimate" type="number" placeholder="Cost">
  <input class="button" id="add-new-todo-button" type="submit" value="Add item">
</div>


