<h1>Chips </h1>
  
<div class="card">
 <input type="checkbox" name=""/>
<h2><%= @food_item %></h2>
<span class="dollar_amount"><%= @dollar_amount %> </span>
 <a href="#" class="button" id="edit-todo-button">Edit</a>
 <a href="#" class="button" id="delete-todo-button">Delete</a>
 <a href="store" class="simple-link">Go back...</a>
</div>
